**/.DS_Store
.idea/
**/*.backup_*
temp/**

# for recovery if the app crashes
**/Backup/*.flp

# open file session cache files
*.tiled-session
*.aup3-wal
*.aup3-shm

# built binaries
launcher
release
development

# transient game files
game_data/logs.txt